
  body {
	  background-color: #4dc3ff;
	  color: #FFFFFF;
  }
  /* Full-width inputs */
  input[type=text][id=username], input[type=password][id=password], input[type=text] {
    width: fit-content;
    padding: 12px 20px;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
	background-color: #4dc3ff;
	border: none;
	border-bottom: 2px solid white;
	margin: 1% 2.5%;
	color: white;
  }

  p[id=title]
  {
    width: fit-content;
    display: flex;
	position: center;
  }


  input[id=submit]{
	border-radius: 12px;
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    position: center;
	background-color: #FFFFFF;
	color: #4dc3ff;
	font-size: 16px;
	display:inline-block;
	border: none;
	font-weight: bold;
  }
  
  h1[id=header]{
	  text-indent: 2.5%;
  }
  